<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSourceCredentials>
    <Datawatch>
      <add key="Username" value="nugetUser" />
      <add key="ClearTextPassword" value="5vJTSeSRsySs" />
    </Datawatch>
  </packageSourceCredentials>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Datawatch" value="http://52.0.140.156/Datawatch/nuget/" />
  </packageSources>
</configuration>